<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Hello LearningApp</h1>
        </div>
        <div class="card-body">
            <course-header [course]="course"></course-header>
            <div class="mt-4">
                <h3>Lista de Estudiantes</h3>
                <div class="table">
                    <invoice-detail [students]="course.students"></invoice-detail>
                </div>
            </div>
        </div>
    </div>
</div>
