<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Hello LearningApp</h1>
        </div>
        <div class="card-body">
            <p><strong>Identificador:</strong> {{course.id}}</p>
            <p><strong>Nombre Curso:</strong> {{course.name}}</p>
            <div class="mt-4">
                <h3>Lista de Estudiantes</h3>
                <div class="table">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Identificador</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of course.students; track $index) {
                            <tr>
                                <td>{{item.identification}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.surname}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
